{% extends 'tienda/base.html' %}
{% block content %}
    <br>
    <form action="{% url 'compra' %}" method="post">
        {% csrf_token %}
        <input name="datoBusqueda" type="text" placeholder="nombre del producto">
        <button type="submit" class="btn btn-info">Buscar</button>
    </form>
    <table class="table table-striped">
        <tr>
            <th>Nombre</th>
            <th>Marca</th>
            <th>Stock</th>
            <th>Precio</th>
            <th></th>
        </tr>
        {% for producto in productos %}
                <tr>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.marca }}</td>
                    <td>{{ producto.unidades }}</td>
                    <td>{{ producto.precio }} €</td>
                    <td>
                        <form action="{% url 'checkout' producto.pk %}" method="get">
                            {% csrf_token %}
                            <label>Unidades:
                                <input name="unidades" type="number" value="1">
                            </label>
                            <button type="submit" class="btn btn-primary">Añadir al carrito</button>
                        </form>
                    </td>
                </tr>
        {% endfor %}
    </table>
{% endblock %}
