{% extends 'tienda/base.html' %}
{% block content %}

    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {% for campo in form %}
            <div>
                <label>
                    {{ campo.label }}:
                    <input value="{{ campo.value | default:'' }}" name="{{ campo.name }}">
                </label>
            </div>
        {% endfor %}
        <input type="submit" class="btn btn-primary" value="Añadir producto">
    </form>

{% endblock %}
