{% extends 'tienda/base.html' %}
{% block content %}
    <a href="{% url "nuevo" %}"><button type="button" class="btn btn-primary">Añadir producto</button></a>
    <table class="table table-striped">
        <tr>
            <th>Nombre</th>
            <th>Modelo</th>
            <th>Marca</th>
            <th>Precio</th>
            <th>Opciones</th>
        </tr>
        {% for producto in productos %}
                <tr>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.modelo }}</td>
                    <td>{{ producto.marca }}</td>
                    <td>{{ producto.precio }}</td>
                    <td>
                        <a href="/tienda/admin/editar"><button type="button" class="btn btn-secondary">Editar</button></a>
                        <button type="button" class="btn btn-danger">Eliminar</button>
                    </td>
                </tr>
        {% endfor %}
    </table>
{% endblock %}
