{% extends 'tienda/base.html' %}
{% block content %}
    <form action="{% url 'porMarca' %}" method="get">
        {% csrf_token %}
        <select name="datoBusqueda">
            <option value="" selected></option>
            {% for marca in marcas %}
                <option value="{{ marca.nombre }}">{{ marca.nombre }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-info">Seleccionar marca</button>
    </form>
    <table class="table table-striped">
        <tr>
            <th>Nombre</th>
            <th>Modelo</th>
            <th>Marca</th>
            <th>Stock</th>
            <th>Precio</th>
            <th>Detalles</th>
        </tr>
        {% for producto in productos %}
                <tr>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.modelo }}</td>
                    <td>{{ producto.marca }}</td>
                    <td>{{ producto.unidades }}</td>
                    <td>{{ producto.precio }} €</td>
                    <td>{{ producto.detalles }}</td>
                </tr>
        {% endfor %}
    </table>

{% endblock %}